/* ===========================
   NAVBAR
=========================== */

.navbar{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 28px 48px;

    z-index: 9999;
}

.logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-buttons{
    position: absolute;
    right: 48px;

    display: flex;
    gap: 12px;
}

/* Resume */

.resume-btn{

    text-decoration:none;

    color:#2F2F2F;

    background:#ffffff;

    border:1px solid #2F2F2F;

    padding:10px 18px;

    border-radius:999px;

    font-size:15px;

    font-weight:500;

    transition:.3s;

}

.resume-btn:hover{

    background:#F5F5F5;

}


/* Connect */

.connect-btn{

    text-decoration:none;

    color:white;

    background:#2F2F2F;

    padding:10px 18px;

    border-radius:999px;

    font-size:15px;

    font-weight:500;

    transition:.3s;

}

.connect-btn:hover{

    background:#111;

}