/* ===========================================
   TABLET (1024px and below)
=========================================== */

@media (max-width:1024px){

    /* ---------- NAVBAR ---------- */

    .navbar{
        padding:24px 40px;
    }

    .logo img{
        width:140px;
    }

    .nav-buttons{
        gap:12px;
    }

    /* ---------- HERO ---------- */

    #hero{
        height:auto;
        min-height:90vh;
    }

    #hero-video{
        width:100%;
        transform:translateY(-80px);
    }

    /* ---------- HERO ASSETS ---------- */

    .polaroid-wrapper{

        top:-70px;
        left:-90px;

    }

    .polaroid{

        width:340px;

    }

    .pencil{

        width:220px;

        right:-80px;

        top:100px;

        transform:rotate(12deg);

        z-index:10;

    }

    .brush{

        width:90px;

        right:-40px;

        top:100px;

        transform:rotate(6deg);

        z-index:9;

    }

    .card-left{
        left:6%;
        transform:rotate(-5deg);
    }

    .card-right{
        right:6%;

    }

    /* ---------- SERVICES ---------- */

    #services{
        margin-top:-140px;
        padding-bottom:60px;
    }

    .cards-container{
        width:90%;
        max-width:850px;
        aspect-ratio:900/620;
    }

    .service-card{
        width:34%;
    }

    #about{

        padding:150px 100px;

    }

    .about-container{

        gap:50px;

    }

    .about-left{

        max-width:400;

    }

    .about-left p{

        font-size:17px;

    }

    .about-right h2{

        font-size:32px;
        margin-bottom:20px;

    }

    .riya-signature{

        font-size:100px;
        line-height:0;
        transform:translate(-20px, -150px);

    }

}


/* ===========================================
   MOBILE (768px and below)
=========================================== */

@media (max-width:768px){

/* ---------- HERO ---------- */

#hero{

    height:70vh;

    display:flex;

    justify-content:center;

    align-items:flex-start;

}

#hero-video{

    width:120%;

    max-width:none;

    height:70vh;

    transform:translateY(20px);

}

.polaroid-wrapper{

    top:-40px;

    left:-80px;

}

.polaroid{

    width:300px;

}

.pencil{

    width:135px;

    top:80px;

    right:-50px;

    transform:rotate(18deg);

    transform-origin:bottom center;

    z-index:10;

}
.brush{

    width:55px;

    top:40px;

    right:-40px;

    transform:rotate(10deg);

    transform-origin:bottom center;

    z-index:9;

}

/* ---------- NAVBAR ---------- */

.navbar{

    padding:20px 20px 0;

}

.logo{

    width:26%;

    display:flex;

    justify-content:center;

}

.logo img{

    width:80px;

    height:auto;

}

.nav-buttons{

        position:absolute;

        top:18px;

        right:16px;

        gap:8px;

    }

    .nav-buttons a{

        height:34px;

        padding:0 14px;

        font-size:12px;

        font-weight:500;

        border-radius:999px;

    }

    .service-card{
        border-radius:18px;
    }

    .service-card img{
        border-radius:18px;
    }

    #services{
        margin-top:-180px;
    }

    .mobile-resume{

        position:fixed;

        bottom:24px;

        left:50%;

        transform:translateX(-50%);

        background:#fff;

        color:#222;

        border:1px solid rgba(0,0,0,.15);

        border-radius:999px;

        padding:12px 28px;

        font-size:14px;

        font-weight:500;

        text-decoration:none;

        box-shadow:0 10px 25px rgba(0,0,0,.12);

        z-index:9999;

        transition:.3s;

    }
    #about{

    padding:100p 100px;

    }

    .about-container{

        grid-template-columns:1fr;

        gap:70px;

        text-align:center;

    }

    .about-left{

        order:2;

        max-width:100%;

        transform:none;

    }

    .about-left p{

        max-width:100%;

        font-size:16px;

        margin-bottom:24px;

    }

    .about-right{

        order:1;

        align-items:center;

        transform:none;

    }

    .about-right h2{

        font-size:34px;

        margin-bottom:-15px;

    }

    .riya-signature{

        font-size:80x;

        transform:translateY(-100px);

    }


}





/* ===========================================
   SMALL PHONES (480px and below)
=========================================== */

@media (max-width:480px){

    .navbar{
        display:none;
    }


    .nav-buttons{

        position:fixed;

        left:50%;

        bottom:30px;

        transform:translateX(-50%);

        display:flex;

        gap:14px;

        z-index:9999;

    }

    .nav-buttons a{

        height:40px;

        padding:0 20px;

        font-size:13px;

        border-radius:999px;

    }

    /* ---------- SERVICES ---------- */

    #services{

        margin-top: -140px;
        min-height: 50vh;

    }



    .service-card{

        position:absolute;

        width:160px;

    }

    /* Left */

    .card-left{

        top:0%;

        left:0;

        bottom:0;

        transform:rotate(-8deg);

    }

    /* Center */

    .card-center{

        left:50%;

        top:-50%;

        transform:translateX(-50%) rotate(1deg);

        z-index:3;

    }

    /* Right */

    .card-right{

        right:-0%;

        bottom:0;

        transform:rotate(8deg);

    }

    .mobile-resume{

        display:flex;

        align-items:center;

        justify-content:center;

        position:fixed;

        left:50%;

        bottom:24px;

        width:120px;

        height:44px;

        background:#1f1f1f;

        color:#ffffff;

        text-decoration:none;

        font-size:14px;

        font-weight:500;

        border-radius:999px;

        box-shadow:0 10px 25px rgba(0,0,0,.18);

        z-index:9999;

        opacity:0;

        transform:translate(-50%, 30px);

        transition:
            opacity .5s ease,
            transform .5s ease;

    }

    .polaroid-wrapper{

        top:-100px;
        left:-140px;

    }

    .polaroid{

        width:400px;

    }


    .mobile-resume.show{

    opacity:1;

    transform:translate(-50%, 0);

    }

    #about{

        padding:200px 100px;

    }

    .about-left p{

        font-size:16px;

        line-height:1.7;

    }

    .about-right{

        align-items:center;

    }

    .about-right h2{

        font-size:20px;

    }

    .riya-signature{

        font-size:80px;

    }

}
