/* =========================
   HERO SECTION
========================= */

#hero{

    display:flex;

    justify-content:center;

    align-items:flex-start;

    height:140vh;

}

#hero-video{

    position: relative;

    transform: translateY(-140px);

    width: min(100%, 1920px);

    height: auto;

    object-fit: contain;
    

}


.hero-content{
    position: relative;
    z-index: 3;
}

/* =====================================
   SERVICES
===================================== */

#services{

    position:relative;

    margin-top:-300px;

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:flex-start;

    z-index:20;

}

.cards-container{

    position:relative;

    width:900px;

    height:620px;

}

.service-card{

    position:absolute;

    width:320px;

    transition:.45s ease;

    cursor:pointer;

    transform-style:preserve-3d;

    border-radius:28px;


}

.service-card img{

    width:100%;
    display:block;
    box-shadow: 0 25px 45px rgba(0,0,0,.12); 
    border-radius:28px;


}

.card-left{

    left:0;

    bottom:0;

    transform:rotate(-10deg);
    

}

.card-center{

    left: 50%;

    transform: translateX(-50%) rotate(-2deg);

    transition: transform .35s ease;

}

.card-right{

    right:0;

    bottom:0;

    transform:rotate(10deg);

}

.service-card:hover{

    transform:translateY(-12px) scale(1.06);

    z-index:10;

    filter:drop-shadow(0 30px 40px rgba(0,0,0,.15));

}

.card-center:hover{

    transform: translateX(-50%) rotate(-2deg) translateY(-12px);

}

